@import "tailwindcss";

/* Force dark mode UI */
:root {
  --background: #0a0a0a;      /* nền đen mặc định */
  --foreground: #ededed;      /* màu chữ trắng xám */
}

/* Tailwind theme (nếu đang dùng @tailwind theme) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Times New Roman, serif; /* Thay đổi font chữ mặc định */
}
